.navbar
  .container
    .navbar-header
      a.navbar-brand(href='/') Mirko Gone Wild
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='http://www.wykop.pl/tag/mirkogonewild', target='_blank') Przeglądaj dodane wpisy
        li
          a(href='/cotojest') O projekcie
        li
          a(href='http://www.wykop.pl/wiadomosc-prywatna/konwersacja/mirkogonewild/') Kontakt
        li
          a(href='https://github.com/mirkogonewild/mirkogonewild', target='_blank') Github
